<!DOCTYPE html>
<html>
  <head>
    <title>SogangLikelion</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">


    <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
    <script src="https://cdn.jsdelivr.net/sweetalert2/6.0.1/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.0.1/sweetalert2.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  </head>

<% if user_signed_in? %>

  <body>
    <nav class="bg1">
      <!-- <img src="/assets/logo.png" /> -->
      <div class="header-button">

        <% if current_user.isMaster == true || current_user.email == "guest@likelion.org"%>
          <a href="<%= manage_path %>"><i class="large material-icons">visibility</i></a>
          <!-- <a href="<%#= teams_path %>"><i class="large material-icons">star</i></a> -->
        <% end %>

        <a href="<%= mypage_index_path %>"><i class="large material-icons">perm_identity</i></a>
        <!-- <a href="<%#= edit_user_registration_path %>"><i class="large material-icons">settings</i></a> -->
        <a href="<%= destroy_user_session_path %>" data-confirm="로그아웃 하시겠어요?" data-method="delete"><i class="large material-icons">power_settings_new</i></a>


      </div>
      <ul id="slide-out" class="side-nav fixed collapsible">
        <li class="logo"><%= image_tag 'logo.svg', class: 'imageLogo' %></li>
        <li>
          <a class="collapsible-header collap-lec">강의</a>
            <!-- <a class="collapsible-header collap-lec">강의<i class="material-icons">account_balance</i></a> -->
          <div class="collapsible-body">
            <ul>
              <li><a href="/lectures/index/1">정규 강의</a></li>
              <li><a href="/lectures/index/2">보조 강의</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a class="collapsible-header collap-project">프로젝트</a>
          <!-- <a class="collapsible-header collap-project">프로젝트<i class="material-icons">web</i></a> -->
          <div class="collapsible-body">
            <ul>
              <li><a href="/projects/index/1"><%= image_tag 'gry.png', class: "listImg" %>그리핀도르의 프로젝트</a></li>
              <li><a href="/projects/index/2"><%= image_tag 'sly.png', class: "listImg" %>슬리데린의 프로젝트</a></li>
              <li><a href="/projects/index/3"><%= image_tag 'dobby.png', class: "listImg" %>도비들의 프로젝트</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a class="collapsible-header collap-board">게시판</a>
            <!-- <a class="collapsible-header collap-board">게시판<i class="material-icons">message</i></a> -->
          <div class="collapsible-body">
            <ul>
              <li><a href="/boards/index/0">공지사항</a></li>
              <li><a href="/boards/index/1">자유 게시판</a></li>
              <li><a href="/boards/index/2">건의 게시판</a></li>
              <li><a href="/boards/index/3">익명 게시판</a></li>
            </ul>
          </div>
        </li>
        <li class="accounting">
          <a href="/accounting/index">회계 공개</a>
            <!-- <a href="/accounting/index">회계 공개<i class="material-icons">attach_money</i></a> -->
        </li>
        <li>
          <a href="/cards">카드 뒤집기</a>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </nav>

    <div class="wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <ul class="collapsible chat-bar" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">chat_bubble_outline</i>실시간 채팅</div>
          <div class="collapsible-body">

            <div class="chat_all_wrapper">
              <div class="chat_msg_wrap">
                <div class="scrollbar style-1">
                  <div class="force-overflow" id="messages">
                    <%= render @messages %>
                  </div>
                </div>
              </div>
            </div>

            <div class="chat_all_wrapper">
              <form action="">
                <label>실시간 채팅</label><br />
                <input id="target" type="text" data-behavior="room_speaker" placeholder="자유롭게 대화하세요!">
                <input id="user_id" type="hidden" value="<%= current_user.id %>" data-behavior="room_speaker">
              </form>
            </div>

        </div>
      </li>
    </ul>


    <script>

      $(".collapsible").click(function(){
        $(".scrollbar").animate({ scrollTop: $(".force-overflow").height() }, "slow");
      });

      $('#target').bind('keypress', function(e) {

          if(e.keyCode==13){

                    swal(
                      '준비 중 입니다!',
                      '채팅도 레일즈로 쉽게 구현할 수 있어요!',
                      'error'
                    )
          //   $(".scrollbar").animate({ scrollTop: $(document).height()+ "1" }, "slow");
          }
      });

      if(window.location.pathname.includes("lectures")) {
         $('.collap-lec').addClass( "active" );
      } else if (window.location.pathname.includes("projects")) {
         $('.collap-project').addClass( "active" );
      } else if (window.location.pathname.includes("boards")) {
        $('.collap-board').addClass( "active" );
      } else if (window.location.pathname.includes("accounting")) {
        $('.accounting').addClass( "active" );
      }

      // console.log(window.location.pathname);

      $(".imageLogo").click(function(){
        location.replace('/home/index');
      });
       $(".button-collapse").sideNav();
       $('.collapsible').collapsible();

       $(".notYet").click(function() {
         swal(
           '준비중 입니다!',
           '빨리 업데이트 하겠습니다! :)',
           'error'
         )
       });
    </script>

  </body>
<% else %>
<body class="unLogin">
  <header class="header">
    <div class="container">
      <h1 class="logo"><a href="index.html" aria-label="멋쟁이 사자처럼 서강대" lang="en"></a></h1>
    </div>
  </header>

  <%= yield %>
</body>
<% end %>
</html>
