  <div class="row">

    <h1><span class="mainTitle on">마이 페이지</span></h1>
    <h5><%= current_user.name %>님 환영합니다.</h5>

    <% unless current_user.isMaster == true || current_user.email == "guest@likelion.org" %>
    <h5 class="tc1">유니라이온 강의 수강율: <%= current_user.lecProgress %> </h5>
    <div class="progress">
        <div class="determinate" style="width: <%= current_user.lecProgress %>"></div>
    </div>
    <h5 class="tc1">유니라이온 과제 제출율: <%= current_user.workProgress %></h5>
    <div class="progress">
    <div class="determinate" style="width: <%= current_user.workProgress %>"></div>
</div>
    <p>
      <a href="https://uni.likelion.org" target="_blank">
        유니라이온으로 가기
      </a>
    </p>
    <% end %>

      <% unless current_user.team.nil? %>
        <div class="col s12 m6 offset-m3 l4 offset-l4 teamArea">
        <% if current_user.team.name == "그리핀도르" %>
              <%= image_tag 'gryffindor.png', class: 'teamPic gryffindor' %>
        <% elsif current_user.team.name == "슬리데린"  %>
              <%= image_tag 'slytherin.png', class: 'teamPic slytherin' %>
        <% else %>
              <%= image_tag 'slogan.png', class: 'teamPic slytherin' %>
        <% end %>
        </div>
      <% end %>

    <% if current_user.projects.length == 0 %>
    <a href="<%= new_project_path %>">
      <div class="col s12">
        <div class="card-panel teal grey darken-3">
          <span class="white-text">
            아직 프로젝트를 등록하지 않았어요!
          </span>
        </div>
      </div>
    </a>
    <% else %>
    <div class="col s12">
      <a href="<%= project_path(current_user.projects.first.id) %>">
      <div class="card-panel teal bg1">
        <span class="white-text">
          내 프로젝트로 이동하기
        </span>
      </div>
      </a>
    </div>
    <% end %>

    <div class="col s12">
      <h5>내가 좋아요한 프로젝트</h5>
    </div>

    <hr class="col s12" />
      <% if @likes.length == 0 %>
        <div class="col s12">
          <div class="card-panel teal bg1">
            <span class="white-text">
              좋아요를 누른 프로젝트가 없어요!
            </span>
          </div>
        </div>
      <% else %>
        <div class="col s12 cards-container">
          <% @likes.each do |like| %>
              <a href="/projects/<%= like.project.id %>">
               <div class="card z-depth-4">
                 <div class="card-image" style="background-image: url(<%= like.project.img %>);">
                 </div>
                 <div class="card-content">
                   <span class="card-title activator grey-text text-darken-4"><%= like.project.title %></span>
                   <p>
                      <a href="#"><%= like.project.user.name %></a><br />
                      업데이트 날짜: <%= like.project.updated_at.to_date %>
                   </p>
                 </div>
                </div>
              </a>
          <% end %>
        </div>
      <% end %>

    <div class="col s12">
      <h5>내가 댓글 단 프로젝트</h5>
    </div>

    <hr class="col s12" />
    <% if @projects.length == 0 %>

      <div class="col s12">
        <div class="card-panel teal bg1">
          <span class="white-text">
            댓글 단 프로젝트가 없어요!
          </span>
        </div>
      </div>

    <% else %>

      <div class="col s12 cards-container">
        <% @projects.uniq.each do |projectId| %>
            <% project = Project.find(projectId)  %>
            <a href="/projects/<%= projectId %>">
             <div class="card z-depth-4">
               <div class="card-image" style="background-image: url(<%= project.img %>);">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4"><%= project.title %></span>
                 <p>
                    <a href="#"><%= project.user.name %></a><br />
                    업데이트 날짜: <%= project.updated_at.to_date %>
                 </p>
               </div>
              </div>
            </a>
        <% end %>
      </div>

    <% end %>

  </div>
