    <div class="row">
        <div class="col s12">
          <div class="card white">
                <div class="card-content black-text">
                  <span class="card-title fsize1"><b><%= @project.title %></b></span>

                    <%= @project.user.name %> / <%= @project.updated_at.strftime("%m월%d일") %>
                </div>
                <div class="card-action">

                  <div>
                    <img class="projectPic" style="width:100%;" src="<%= @project.img %>" alt>
                  </div>
                  <p>
                    <%= simple_format @project.content.gsub(/\n/, '<br/>') %>
                  </p>


                  <div>
                    <a href="<%= @project.link %>" target="_blank">홈페이지 바로가기</a>
                  </div>
                  <div>
                    <a href="<%= @project.gitLink %>" target="_blank">깃헙 링크 바로가기</a>
                  </div>

                  <% if current_user.id == @project.user_id %>
                    <div>
                      <%= link_to '업데이트', edit_project_path(@project), class: 'waves-effect waves-light btn bg1' %>
                    </div>
                  <% end %>
                </div>


                <div class="card-action">
                  <div class="row">
                    <% @project.likes.each do |u| %>
                      <div class="chip">
                        <% if u.user.projects.length != 0 %>
                          <%= link_to "#{u.user.name}", "/projects/#{u.user.projects.first.id}" %>
                        <% else %>
                          <%= u.user.name %>
                        <% end %>
                      </div>
                    <% end %>

                      <% if current_user.id == @project.user_id %>
                        <div>
                          <%#= link_to '삭제', project, method: :delete, data: { confirm: '정말 삭제할래?'} %>
                          <!-- <a href="/service/ask_delete/<%#= @project.id %>">[삭제]</a> -->
                          <span class="myClick"><%= link_to "좋아요(#{@project.likes.length})", "/projects/like/#{@project.id}", class: "waves-effect waves-light btn disabled" %></span>
                        </div>
                      <% else %>
                        <% if current_user.likes.where(project_id: @project.id).length == 0 %>
                          <div>
                            <%= link_to "좋아요(#{@project.likes.length})", "/projects/like/#{@project.id}", class: "waves-effect waves-light btn grey darken-1" %>
                          </div>
                        <% else %>
                          <div>
                            <%= link_to "좋아요(#{@project.likes.length})", "/projects/like/#{@project.id}", class: "waves-effect waves-light btn blue darken-4" %>

                          </div>
                        <% end %>
                      <% end %>

                    <%= form_for(@comment) do |f| %>
                        <div class="input-field col s8 m9 l10">
                          <i class="material-icons prefix">account_circle</i>
                          <label for="icon_prefix">댓글을 입력해주세요</label>
                          <%= f.text_field :content, id: 'icon_prefix' %>
                          <%= f.hidden_field :user_id, value: current_user.id %>
                          <%= f.hidden_field :project_id, value: @project.id %>
                        </div>
                        <div class="col s4 m3 l2">
                          <button class="btn waves-effect waves-light center bg1" type="submit">댓글달기
                          </button>
                        </div>
                    <% end %>
                  </div>
                </div>

                <div class="card-action">
                        <ul class="collection">
                          <% @project.comments.reverse.each do |c| %>
                              <li class="collection-item">
                                <div class="comment-profile">
                                  <i class="material-icons">person</i><%= c.user.name %> (<%= c.created_at.to_date %>)<br />
                                </div>
                                <div class="comment-content">
                                   <%= c.content %>
                               </div>
                                   <% if user_signed_in? %>
                                     <% if c.user == current_user %>
                                         <%= link_to '[삭제]', c, method: :delete %>
                                     <% end %>
                                   <% end %>
                              </li>
                          <% end %>
                        </ul>

                </div>


            </div>

        </div>
        <%= link_to '목록으로', "/projects/index/#{@project.user.team.id}" %>
    </div>

<script>
  $(".myClick").click(function() {
    swal(
      '잠깐!',
      '설마 본인껄 좋아요하려고?',
      'question'
    )
  });
</script>
