<h1><span class="mainTitle on">비밀번호 변경하기</span></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, '새로운 비밀번호(최소 6자)' %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, '비밀번호 확인(최소 6자)' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password, '기존 비밀번호(기본값 폰번호 뒷 8자리)' %><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "변경하기", class: 'btn waves-effect waves-light bg1'  %>
    </div>
  <% end %>

<div class="back">
  <%= link_to "돌아가기", :back %>
</div>
