


<% unless current_user.isMaster == true || current_user.email == "guest@likelion.org" %>
<h1><span class="mainTitle on"><%= current_user.name %>님의 유니라이온</span></h1>

    <h5 class="tc1">강의 수강율: <%= current_user.lecProgress %> </h5>
    <div class="progress">
        <div class="determinate" style="width: <%= current_user.lecProgress %>"></div>
    </div>
    <h5 class="tc1">과제 제출율: <%= current_user.workProgress %></h5>
    <div class="progress">
    <div class="determinate" style="width: <%= current_user.workProgress %>"></div>
</div>
    <p>
      <a href="https://uni.likelion.org" target="_blank">
        유니라이온으로 가기
      </a>
    </p>
<% end %>


<h1><span class="mainTitle on">공지사항</span></h1>

<ul class="collapsible" data-collapsible="expandable">
  <% @announces.each do |announce| %>
    <li>
      <div class="collapsible-header active"><i class="material-icons">announcement</i><b><%= announce.title %></b></div>
      <div class="collapsible-body">
        <%= simple_format announce.content.gsub(/\n/, '<br/>') %>
      </div>
    </li>
  <% end %>
</ul>
