<p id="notice"><%= notice %></p>

<h1><span class="mainTitle on">
  <% if @type == "0" %>
    공지사항
  <% elsif @type == "1" %>
    자유 게시판
  <% elsif @type == "2" %>
    건의 게시판
  <% elsif @type == "3" %>
    익명 게시판
  <% end %>
</span></h1>

<table class="bordered highlight">
  <colgroup>
    <col span="1" style="width:70%;">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>제목</th>
      <th>글쓴이</th>
      <th>날짜</th>
    </tr>
  </thead>

  <tbody>
    <% @boards.reverse.each do |board| %>
      <tr>
        <td><%= link_to "#{board.title}", board_path(board) %></td>
        <% unless @type == "3" %>
          <td><%= board.user.name %></td>
        <% else %>
          <td>익명사자</td>
        <% end %>
        <td><%= board.created_at.strftime("%m월%d일") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<!-- <td><%#= link_to 'Show', board %></td>
<td><%#= link_to 'Edit', edit_board_path(board) %></td>
<td><%#= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

<% if @type == "0" %>
  <% if current_user.isMaster == true %>
  <%= link_to '글쓰기', "/boards/new/#{@type}" %>
  <% end %>
<% else %>
  <%= link_to '글쓰기', "/boards/new/#{@type}" %>
<% end %>
