<p id="notice"><%= notice %></p>

<h1>Board Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_comments.each do |board_comment| %>
      <tr>
        <td><%= link_to 'Show', board_comment %></td>
        <td><%= link_to 'Edit', edit_board_comment_path(board_comment) %></td>
        <td><%= link_to 'Destroy', board_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Comment', new_board_comment_path %>
